a:hover {
  cursor:pointer;
}
.imageStyle {
  width: 150px;
  height: 150px;
}

.gridStyles {
  padding: 80px;
}

.cardStyles {
  margin: 10px;
  width: 18rem;
}

.nav-all {
  color: green !important;
  font-weight: bold;
}

.navStyles {
  margin-left: 200px;
  margin-right: 200px;
}
